.body {
    width: 780px; 
    background: #FFFFFF; 
    margin: 0 auto; 
    border: 5px solid #26d82f;
    border-radius: 5%;
    margin-top:  5%; 
    text-align: center;
    
}
input {
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }

  
  